@import 'normalize.css';

:root{
    --primary-color: #ee2c4a;
    --primary-shadow-color: rgba(238, 44, 74, 0.5);
    --primary-background-color: rgba(238, 44, 74, 0.9);

    --default-color: #D3D3D3;
    --text-color: #4c5258;
    --black-color: #333;
    --white-color: white;

    --footer-background-color: #1c2331;
    --footer-liner-color: #7c4dff;
    --footer-primary-color: rgba(0, 0, 0, 0.2);
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}